body
{
    background-color: beige;
}
h1
{
    
   text-align: center; color: rgb(244, 14, 14);
}
.img-perro {
    width: 300px;
 
}
.mascotas
{
    text-align: center;
}
h2{
color: blue;
}


